[Unit]
Description=vMix monitoring ws server
After=network.target

[Service]
User=vmixmon
WorkingDirectory=/opt/vmix-monitoring/
ExecStart=/opt/vmix-monitoring/.env/bin/python /opt/vmix-monitoring/main_websocket.py